= link_to '返回列表', polymorphic_url(@object.class)
|
= link_to '修改', edit_polymorphic_url(@object)

%table.table.table-bordered.table-striped.table-hover
  %thead
    %tr
      %th Attribures
      %th Value
  %tbody
    - @object.attributes.each do |attr|
      %tr
        %td= t attr[0], scope: 'simple_form.labels.invest'
        %td= attr[1]

